ai workflow/My workflow (1).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=you are a very good assistant, answer the below  in a structure way without using \\n and other special character . give the output in different lines  and start from second line along with the details of the resources  in a different  line \n\n{{ $json.body.query }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -96,
        0
      ],
      "id": "0e655f88-1a1f-47f1-81f7-2778dfa4a737",
      "name": "AI Agent",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        256,
        144
      ],
      "id": "f61a8d96-df62-4b55-903c-ec4cc3e67b0a",
      "name": "Calculator"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        64,
        208
      ],
      "id": "9cddb95d-ce6a-4016-ba8b-fc3b3f5c2fa1",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "UpqLf2QKQok6fmFw",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {
          "maxOutputTokens": 2048,
          "topK": 32
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -240,
        144
      ],
      "id": "ad1d5027-da53-45da-89ba-d0d397d3c238",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "zBLeju67bS3NDmze",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e5dde950-284c-40e0-9e05-232de7670d44",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -528,
        -80
      ],
      "id": "6e897fe5-2a92-48b3-a9d6-8673242e06df",
      "name": "Webhook",
      "webhookId": "e5dde950-284c-40e0-9e05-232de7670d44",
      "notesInFlow": false
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -96,
        208
      ],
      "id": "89d0d1a4-13c2-4fd3-a828-40c08fe7917c",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "45df2e68-a044-45ed-b874-0c991283a779",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "be884e61dc0ecf3cef2364ddf0607e684857953b4764de9982d9069fba803555"
  },
  "id": "ahpAxP20XTyz9Osq",
  "tags": []
}